.gridInner {
    width: 500px;
    height: fit-content;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(71, 152, 70, 0.48);
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 16px 20px rgba(71, 152, 70, 0.48);
    -moz-box-shadow: 0px 0px 16px 20px rgba(71, 152, 70, 0.48);
    box-shadow: 0px 0px 16px 20px rgba(71, 152, 70, 0.48);
    transition: 0.5s;
    animation: 0.5s popUp ease-in-out;
}
.link {
    text-decoration: none;
    color: black;
}
@keyframes popUp {
    0%{ 
        opacity: 0%;
        transform: translateY(100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
.gridInner:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 16px 28px rgba(71, 152, 70, 0.8);
    -moz-box-shadow: 0px 0px 16px 28px rgba(71, 152, 70, 0.8);
    box-shadow: 0px 0px 16px 28px rgba(71, 152, 70, 0.8);
    border: 1px solid rgba(71, 152, 70, 0.8);
    border-radius: 13%;
}
.gridInner h2 {
    text-transform: uppercase;
}
.gridInner h3 {
    margin-left: 10px;
    margin-right: 10px;
}
.slider {
    overflow-y: hidden;
    overflow-X: hidden;
    display: flex;
    max-height: 333.2px;
}
.imgLoaded img {
    width: 500px;
    height: 333.2px;
    transition: 0.5s ease-in-out;
    animation: 0.8s imgloaded ease-in-out;
}
@keyframes imgloaded {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.imgLoaded img:hover {
    transform: scale(1.3);
    cursor: pointer
}
.imgLoading {
    position: relative;
    width: 0px;
    height: 333.2px;
}
.imgLoading img {
    display: none;
}
.imgLoading::before {
    position: absolute;
    top: 30%; left: 200px;
    content: '';;
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 50%;
    border-top: 5px grey dotted;
    animation: 1s loading ease-in-out infinite;
}
@media screen and (max-width: 600px) {
    .gridInner {
        width: 320px;
    }
    .imgLoaded img {
        width: 320px;
        height: 213.25px;
        transition: 0.5s ease-in-out;
    }
    .slider {
        max-height: 213.25px;
    }
    .imgLoading {
        position: relative;
        width: 0px;
        height: 213.25px;
    }
    .imgLoading img {
        display: none;
    }
    .imgLoading::before {
        position: absolute;
        top: 30%; left: 120px;
        content: '';
        width: 80px;
        height: 80px;
        background: transparent;
        border-radius: 50%;
        border-top: 5px grey dotted;
        animation: 1s loading ease-in-out infinite;
    }
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}