.photographer {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.photographerName {
    word-spacing: 100vw;
    width: 400px;
    text-wrap: wrap;
    text-align: left;
    margin-right: 70px;
    font-family: 'Gabriela', serif;
    font-size: 30pt;
}
.photographerPhoto {
    width: 450px; 
    height: auto;
}
@media screen and (max-width: 990px) {
    .photographer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .photographerName {
        word-spacing: 100vw;
        width: 400px;
        margin: 0px;
        margin-bottom: 20px;
        font-size:30pt
    }   
}
@media screen and (max-width: 550px) {
    .photographer {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .photographerName {
        word-spacing: 100vw;
        width: 250px;
        margin: 0px;
        margin-bottom: 10px;
        font-size:20pt
    }
    .photographerPhoto {
        width: 200px; 
    }   
}
.gridContainer {
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
}
@media screen and (max-width: 1320px) {
    .gridContainer {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: clamp(10px, 20px, 50px)
    }
}