.formDiv {
    background: rgb(0,79,116);
    background: linear-gradient(94deg, rgba(0,79,116,1) 0%, rgba(0,98,76,1) 50%, rgba(0,124,95,1) 100%);
    color: white;
}
.getRequest {
    padding-top: 7px;
    padding-left: 20px;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 600px) {
    .getRequest {
        display: flex;
        flex-direction: column;
    }
}
.getRequest input{
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    outline: none;
    width: clamp(150px, 250px, 400px); height: 30px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.getRequest input:focus{
    border: 2px solid  #287233;
    -webkit-box-shadow: 0px 10px 27px 0px #009B77;
    -moz-box-shadow: 0px 10px 27px 0px #009B77;
    box-shadow: 0px 10px 27px 0px #009B77;
}
.getRequest button {
    margin-right: 25px;
    margin-bottom: 20px;
    font-family: 'Gabriela', serif;
    border-radius: 5px;
    border: none;
    background-color:  #6B8E23;
    width: clamp(150px, 250px, 400px); height: 34px;
    font-size: clamp(6pt, 8pt, 12pt);
    color: white;
    transition: 0.3s ease-in-out;
}
.getRequest button:hover {
    cursor: pointer;
    background-color: #0A4500;
}